In [2]:
import pandas as pd

In [22]:
df = pd.read_csv("../data/combined_label_chord_data.csv")

In [23]:
sorted(df["combined_label"].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23]

### Sanity check

In [6]:
df.shape

(40738, 13)

In [33]:
df_na = df.isna()

In [38]:
vals = sorted(df["combined_label"].unique())

In [39]:
combined_class_to_chord = {
    0: "A major", 1: "A minor",
    2: "A# major", 3: "A# minor",
    4: "B major", 5: "B minor",
    6: "C major", 7: "C minor",
    8: "C# major", 9: "C# minor",
    10: "D major", 11: "D minor",
    12: "D# major", 13: "D# minor",
    14: "E major", 15: "E minor",
    16: "F major", 17: "F minor",
    18: "F# major", 19: "F# minor",
    20: "G major", 21: "G minor",
    22: "G# major", 23: "G# minor"
}

In [16]:
X = df.drop(['combined_label'], axis=1).values

In [17]:
X

array([[1.00e-01, 1.65e+00, 1.77e-02, ..., 4.41e-02, 1.08e+00, 3.91e-02],
       [0.00e+00, 1.13e+00, 9.36e-02, ..., 2.18e-04, 5.77e-01, 1.52e+00],
       [0.00e+00, 2.24e+00, 8.00e-02, ..., 2.48e-02, 1.38e+00, 1.56e-01],
       ...,
       [2.85e-01, 2.05e-01, 7.94e-01, ..., 9.64e-01, 2.53e-01, 3.37e+00],
       [3.25e+00, 3.66e-01, 1.19e+00, ..., 5.58e-01, 1.10e-01, 4.80e-01],
       [5.51e-02, 9.08e-01, 2.55e+00, ..., 2.55e+00, 2.55e-01, 3.40e-01]])

In [18]:
df

,Chroma_A,Chroma_A#,Chroma_B,Chroma_C,Chroma_C#,Chroma_D,Chroma_D#,Chroma_E,Chroma_F,Chroma_F#,Chroma_G,Chroma_G#,combined_label
0,0.1000,1.650,0.01770,1.250,0.005120,1.030,0.222,0.02740,2.3100,0.044100,1.080,0.03910,2
1,0.0000,1.130,0.09360,2.220,0.008070,0.233,1.830,0.00214,0.5740,0.000218,0.577,1.52000,22
2,0.0000,2.240,0.08000,0.967,0.000312,1.440,0.375,0.00255,1.2000,0.024800,1.380,0.15600,2
3,0.0298,1.620,0.03000,1.930,0.002520,0.207,2.210,0.02400,0.4250,0.013300,0.726,1.23000,22
4,0.1180,2.300,0.00163,1.840,0.088000,0.868,0.859,0.02420,1.6400,0.182000,1.250,0.00196,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40733,0.2550,0.867,3.15000,0.437,1.040000,0.374,1.100,0.55400,0.6450,3.670000,0.230,0.44700,4
40734,0.2490,0.318,3.28000,0.348,0.489000,0.391,1.250,3.73000,0.1640,0.841000,0.225,1.43000,14
40735,0.2850,0.205,0.79400,0.733,4.060000,0.397,0.288,1.77000,0.4870,0.964000,0.253,3.37000,9
40736,3.2500,0.366,1.19000,0.374,0.978000,0.433,0.784,3.63000,0.0947,0.558000,0.110,0.48000,0
40737,0.0551,0.908,2.55000,0.103,0.885000,0.437,1.350,0.27700,0.1920,2.550000,0.255,0.34000,4