In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("../data/labeled_chord_data.csv")

### Sanity check

In [31]:
df["chord_type"].unique()

array([0, 1])

In [32]:
df.describe()

,chord_root_note,chord_type,Chroma_A,Chroma_A#,Chroma_B,Chroma_C,Chroma_C#,Chroma_D,Chroma_D#,Chroma_E,Chroma_F,Chroma_F#,Chroma_G,Chroma_G#,combined_label
count,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000,40738.000000
mean,5.229147,0.218199,1.339436,0.860223,1.103861,1.156500,0.822990,1.292707,0.750032,1.253293,0.974080,0.913297,1.237724,0.776454,10.676494
std,3.452830,0.413028,1.137390,0.961125,1.018418,1.161926,0.835085,1.148956,0.847559,1.076554,1.023538,0.879474,1.115191,0.819962,6.919144
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.461000,0.277000,0.392000,0.316000,0.285000,0.414000,0.247000,0.430000,0.298000,0.316000,0.396000,0.284000,5.000000
50%,5.000000,0.000000,0.933000,0.495000,0.731000,0.657000,0.523000,0.881000,0.450000,0.878000,0.552000,0.593000,0.803000,0.491000,10.000000
75%,8.000000,0.000000,1.980000,0.975000,1.500000,1.710000,1.020000,1.920000,0.858000,1.870000,1.270000,1.200000,1.850000,0.897000,16.000000
max,11.000000,1.000000,6.470000,6.520000,6.200000,6.470000,6.300000,7.050000,6.890000,6.720000,6.610000,5.760000,6.290000,6.190000,23.000000

In [33]:
df_na = df.isna()

In [38]:
vals = sorted(df["combined_label"].unique())

In [39]:
combined_class_to_chord = {
    0: "A major", 1: "A minor",
    2: "A# major", 3: "A# minor",
    4: "B major", 5: "B minor",
    6: "C major", 7: "C minor",
    8: "C# major", 9: "C# minor",
    10: "D major", 11: "D minor",
    12: "D# major", 13: "D# minor",
    14: "E major", 15: "E minor",
    16: "F major", 17: "F minor",
    18: "F# major", 19: "F# minor",
    20: "G major", 21: "G minor",
    22: "G# major", 23: "G# minor"
}